<div id="<%= dom_id vente %>">
  <p>
    <strong>Category:</strong>
    <%= vente.category %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= vente.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= vente.price %>
  </p>

</div>
