<section class="py-3 py-md-5">
  <div class="container">
    <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
      <div>
        <div id="<%= dom_id vente %>">
          <p>
            <strong>Category:</strong>
            <%= vente.category %>
          </p>

          <p>
            <strong>Name:</strong>
            <%= vente.name %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= vente.price %>
          </p>

        </div>

      </div>
    </div>
  </div>
</section>