<p style="color: green"><%= notice %></p>

<%= link_to "Ajouter", new_vente_path, class:"btn btn-primary form-control"  %>
<h1>Ventes</h1>

<div id="ventes">
  <% @ventes.each do |vente| %>
    <%= render vente %>
    <p>
      <%= link_to "Show this vente", vente, class:"btn btn-warning" %>
    </p>
  <% end %>
</div>

