<div class="container mt-3">
  <div class="row">
    <h1>New vente</h1>
    <div class="col-sm-8">
      <%= render "form", vente: @vente %>
    </div>

    <br>

    <div>
      <%= link_to "Retour", ventes_path%>
    </div>

  </div>  
</div>